/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  container-name: root;
  --custom-guild-list-padding: 12px;
  --panel-backdrop-filter: none;

  --border-hover: var(--border-subtle);
}

body {
  container-name: body;

  /* font, change to '' for default discord font */
  --font: 'figtree';
  --code-font: '';

  /* sizes */
  --gap: 12px;
  /* spacing between panels */
  --divider-thickness: 4px;
  /* thickness of unread messages divider and highlighted message borders */
  --border-thickness: 1px;
  /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2 + var(--border-thickness) * 2);

  --border-hover-transition: 0.2s ease;
}

.visual-refresh {
  /* panel separation */
  /* server list */
  .guilds_c48ade,

  /* channel list (includes dm list) */
  .sidebarList_c48ade,

  /* user panel */
  .panels_c48ade,

  /* chat titlebar */
  .chat_f75fb0>.subtitleContainer_f75fb0,

  /* chat */
  .chatContent_f75fb0,

  /* member list */
  .container_c8ffbb,

  /* forum post member list */
  .content_f75fb0>.membersWrap_c8ffbb,

  /* friends titlebar */
  .container__133bf>.container__9293f,


  /* message requests titlebar */
  .container_f391e3>.container__9293f,

  /* nitro page titlebar */
  .homeWrapper__0920e>.container__9293f,

  /* vc chat titlebar */
  .container__01ae2>.container__9293f,

  /* new thread panel */
  .container_fb64c9>.container__9293f,

  /* online friends */
  .peopleColumn__133bf,

  /* active now */
  .nowPlayingColumn__133bf,

  /* nitro page */
  .scroller_c880e8,

  /* message requests */
  .container_f391e3>.content_f75fb0,

  /* shop */
  .shop__6db1d,

  /* dm user panel */
  .content_f75fb0 .outer_c0bea0,

  /* search results */
  .searchResultsWrap_a9e706,

  /* forum */
  .container_f369db,

  /* new thread panel */
  .chat_fb64c9,

  /* server discovery */
  .container_a592e1,

  /* vc container */
  .callContainer_cb9592,

  /* vc container when chat open */
  .wrapper_cb9592.sidebarOpen_cb9592 .callContainer_cb9592,

  /* stage */
  .callContainer__722ff,

  /* server members header */
  .chat_f75fb0>.header_c791b2,

  /* server members page */
  .chat_f75fb0>.scrollerBase_d125d2,

  /* server channels and roles header */
  .chat_f75fb0>.header__0b563,

  /* server channels and roles page */
  .chat_f75fb0>.container__0b563 {
    background-color: #00000000;
    border-radius: var(--radius-lg);
    border: var(--border-thickness) solid var(--border-subtle);
    backdrop-filter: var(--panel-backdrop-filter);
    box-sizing: border-box;
    transition: border-color var(--border-hover-transition);

    &:hover {
      border-color: var(--border-hover);
    }
  }

  /* user panel */
  .panels__5e434 {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* user panel tweaks */
  .container__37e49 {
    padding: 12px;
    padding-left: 6px;
  }

  .avatarWrapper__37e49 {
    padding: 6px;
    border-radius: 12px;
  }

  /* server list + channel list + user panel group */
  .sidebar__5e434 {
    margin: 0 var(--gap) var(--gap) var(--gap);
  }

  /* server list */
  .guilds_c48ade {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
    margin-right: var(--gap);
  }

  /* betterfolders */
  .guilds_c48ade+div:not(.sidebarList_c48ade) {
    width: 100% !important;
  }

  /* server list inner scroller */
  .scroller_ef3116 {
    padding: var(--custom-guild-list-padding) 0;
  }

  .folderGroup__48112 {
    width: 100%;
  }

  .listItem__650eb {
    width: 100%;
  }

  /* channel list */
  .sidebarList_c48ade {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
  }

  /* channel list inner */
  .container__2637a {
    padding-bottom: 0;
  }

  /* channel list inner */
  .clickable_f37cb1,
  .container__2637a,
  /* server name */
  .header_f37cb1 {
    background: none;
  }

  /* channel list inner scroller */
  .scroller__629e4 {
    margin-bottom: 0;
  }

  /* fix discord's idiotic server banners */
  .bannerImage_f37cb1,
  .bannerImg_f37cb1 {
    width: 100%;
  }

  .bannerVisible_f37cb1 .headerEllipseBackdrop_f37cb1 {
    display: none;
  }

  .headerGlass_f37cb1 {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  }

  /* server list + channel list bottom shadow */
  .sidebar_c48ade:after {
    display: none;
  }

  /* chat group outer */
  .chat_f75fb0 {
    border: none !important;
    background: none;
  }

  /* chat tweaks */
  .chatContent_f75fb0 {
    overflow: hidden;
  }

  .message__5126c {
    margin-left: 0px !important;
  }

  .cozy_c19a55.wrapper_c19a55 {
    padding-left: calc(var(--custom-message-margin-left-content-cozy) - 12px);

    &.groupStart__5126c {
      padding-top: calc(var(--custom-message-spacing-vertical-container-cozy) + 2px);
      padding-bottom: calc(var(--custom-message-spacing-vertical-container-cozy) + 2px);
    }
  }

  .avatar_c19a55 {
    left: 9px;
  }

  .scroller__36d07 {
    margin: 0 -4px 0 12px;
  }

  /* friends page group outer */
  .container__133bf,
  .page_c48ade {
    padding-bottom: var(--gap);
    padding-right: var(--gap);
    border: none !important;
    background: none;
  }

  .page_c48ade>.chat_f75fb0,
  .page_c48ade>.container__133bf {
    padding: 0;
  }

  /* friends, message requests, + other stuff titlebar */
  .container__9293f {
    margin-bottom: var(--gap);
  }

  /* chat titlebar  */
  .subtitleContainer_f75fb0 {
    margin-bottom: var(--gap);
  }

  /* chat titlebar inner */
  .title_f75fb0 {
    border: none;
    background: none;
    margin-bottom: 0;
  }

  /* chat outer */
  .page_c48ade>div>.chat_f75fb0>.content_f75fb0 {
    border-left: none;
  }

  /* friends page */
  .tabBody__133bf {
    border: none !important;
  }

  /* user panel listening along */
  .listeningAlong_e0cf27 {
    border-top: none !important;
  }

  /* member list */
  .container_c8ffbb {
    margin-left: var(--gap);
    overflow: hidden;
    height: auto;
    min-width: fit-content;
  }

  /* forum post member list */
  .content_f75fb0>.membersWrap_c8ffbb {
    margin-left: var(--gap);
    overflow: hidden;
    height: auto;
    min-width: fit-content;
  }

  /* member list inner */
  .members_c8ffbb,
  /* member list item */
  .member_c8ffbb {
    background: none;
  }

  /* resize handle */
  .resizeHandle__01ae2 {
    background: transparent;
  }

  /* dm list */
  .privateChannels__35e86,

  /* dm list inner */
  .scroller__99e7c {
    background: none;
    margin-bottom: 0;
  }

  /* online friends + active now group outer */
  .tabBody__133bf {
    background: none;
  }

  /* active now */
  .nowPlayingColumn__133bf {
    margin-left: var(--gap);
  }

  /* active now inner */
  .container__7d20c {
    background: none;
  }

  /* active now inner */
  .scroller__7d20c {
    border: none;
  }

  /* nitro page group inner */
  .homeWrapper__0920e {
    border: none;
    background: none;
  }

  /* nitro page group outer */
  .applicationStore_f07d62 {
    background: none;
  }

  /* shop */
  .shop__6db1d {
    overflow: hidden;
    height: auto;
  }

  /* shop inner scroller */
  .shop__08415 {
    margin-top: calc(var(--custom-channel-header-height) * -1 - 16px);
  }

  /* dm user panel */
  .content_f75fb0 .outer_c0bea0 {
    margin-left: var(--gap);
    overflow: hidden;
    height: 100%;
    min-width: 340px;
    background-position: center calc(-1 * var(--border-thickness));
    background-size: 100% calc(100% + 2 * var(--border-thickness));
  }

  /* search results */
  .searchResultsWrap_a9e706 {
    margin-left: var(--gap);
  }

  /* notice banner */
  .notice__6e2b9 {
    margin: 0 var(--gap) var(--gap) 0;
    border-radius: var(--radius-md);
    box-sizing: border-box;
    height: 40px;
  }

  /* vc chat + titlebar group */
  .container__01ae2 {
    border: none;
    background: none;
  }

  /* vc chat shadow */
  .chat_ee72fa::before {
    display: none;
  }

  /* vc chat + titlebar group outer */
  .channelChatWrapper_cb9592 {
    background: none;
  }

  /* forum/thread chat outer */
  .page_c48ade>div>.chatLayerWrapper__01ae2 {
    margin: 0 var(--gap) var(--gap) 0;
    height: calc(100% - var(--gap));
  }

  /* forum/thread chat */
  .container__01ae2 {
    padding-left: calc((var(--gap) - var(--chat-resize-handle-width)));
  }

  /* new thread panel */
  .container_fb64c9 {
    background: none;
  }

  /* new thread panel chat shadow */
  .chat_fb64c9::before {
    display: none;
  }

  /* server discovery */
  .container_a592e1 {
    overflow: hidden;
  }

  /* server discovery top bar */
  .backdrop__8a7fc {
    background-color: var(--background-base-lower);
  }

  /* dm vc wrapper */
  .wrapper_cb9592 {
    background: none;
    margin-bottom: var(--gap);
  }

  .wrapper_cb9592.fullScreen_cb9592 {
    margin-top: var(--gap);
    margin-left: var(--gap);
    width: calc(100% - var(--gap));
    height: calc(100% - var(--gap));
  }

  /* remove excess background from settings  */
  .standardSidebarView__23e6b,
  .contentRegion__23e6b,
  .sidebarRegionScroller__23e6b,
  .contentRegionScroller__23e6b {
    background: none;
  }

  .standardSidebarView__23e6b {
    backdrop-filter: var(--panel-backdrop-filter);
  }

  /* remove excess backgrounds */
  /* message loading placeholders */
  .wrapper_d852db,
  .wrapper_d852db>.wrapper_fc8177 {
    background: none;
  }

  /* friend page, server members page */
  .page_c48ade>.chat_f75fb0 {
    background: none !important;
  }

  /* unread messages bar */
  .newMessagesBar__0f481 {
    top: 12px;
    left: 12px;
    right: 12px;
    border-radius: var(--radius-sm);
    padding: 0 8px;
  }

  /* channel list new unreads pill */
  .bottom__7aaec,
  /* channel list non-community unread pill */
  .unreadBottom__629e4 {
    bottom: 0;
  }

  /* server list new pill */
  .unreadMentionsIndicatorBottom_ef3116,
  .unreadMentionsIndicatorTop_ef3116 {
    width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
    padding: calc(var(--custom-guild-list-padding) / 2);
  }

  /* general chat bar improvements */
  /* chat bar */
  .channelTextArea_f75fb0 {
    border-radius: var(--radius-md);
  }

  /* chat bar inner */
  .themedBackground__74017 {
    background: none;
  }

  /* actual typing area */
  .slateTextArea_ec4baf {
    margin-left: 2px;
  }

  /* improve unread divider */
  .divider__908e2 {
    border-width: var(--divider-thickness);
    border-radius: var(--divider-thickness);
  }

  .endCap__908e2 {
    margin-top: calc(var(--divider-thickness) / -2);
  }

  .divider__908e2 .content__908e2 {
    margin-top: calc(var(--divider-thickness) - var(--divider-thickness) * 2);
  }

  /* improve highlight message left edge */
  .message__5126c.mentioned__5126c::before,
  .replying__5126c::before,
  .ephemeral__5126c::before {
    width: var(--divider-thickness);
    border-radius: var(--divider-thickness);
    height: calc(100% - 2 * var(--radius-sm));
    top: var(--radius-sm);
    left: calc(var(--divider-thickness) / -2 + 1px);
    left: calc(var(--radius-sm) / 2);
  }

  .message__5126c {
    border-radius: var(--radius-md);
    margin-left: 4px;
  }

  /* improve server selected marker */
  .pill_e5445c.wrapper__58105 {
    width: calc((var(--custom-guild-list-padding) - 4px) / 2 + 4px);
  }

  .item__58105 {
    width: 4px;
    border-radius: 4px;
    margin-left: calc((var(--custom-guild-list-padding) - 4px) / 2);
  }

  /* improve embeds */
  .embedFull__623de {
    border: 4px solid var(--border-normal);
    border-top-color: var(--border-subtle) !important;
    border-top-width: 1px;
    border-bottom-color: var(--border-subtle) !important;
    border-bottom-width: 1px;
    border-right-color: var(--border-subtle) !important;
    border-right-width: 1px;
  }

  /* improve borders */
  /* message reactions */
  .reaction__23977,
  /* add reaction button */
  .reactionBtn__23977.forceShow__23977 {
    border-width: 2px;
  }

  /* roundness */
  /* embeds */
  .embedFull__623de,
  /* code block */
  .hljs,
  /* image */
  .imageWrapper_af017a,
  /* thread link */
  .container__9271d {
    border-radius: var(--radius-md);
  }

  /* profile outer */
  .outer_c0bea0,
  /* gif panel */
  .contentWrapper__08434 {
    border-radius: var(--radius-lg);
  }

  /* profile inner */
  .inner_c0bea0 {
    border-radius: calc(var(--radius-lg) - 4px);
  }

  /* profile outer */
  .outer_c0bea0 {
    border: 1px solid var(--border-subtle);
    background-position: center calc(-1 * var(--border-thickness));
    background-size: 100% calc(100% + 2 * var(--border-thickness));
  }

  /* profile overlay */
  .overlay_c0bea0 {
    background-color: var(--hover);
  }

  .root__24502 {
    background: none;
  }

  /* message box */
  .scrollableContainer__74017 {
    background-color: var(--hover);
  }

  /* remove unnecessary backgrounds */
  .app__160d8,
  #app-mount,
  body {
    background: transparent !important;
  }
}

body {
  --font-primary: var(--font), 'gg sans';
  --font-display: var(--font), 'gg sans';
  --font-code: var(--code-font), 'gg mono';
}

[class*='scroll'] {
  will-change: scroll-position;
}

.burstGlow__23977 {
  display: none;
}

/* remove chat gradient thingy*/
.chatGradient__36d07,
.chatGradientBase__36d07 {
  display: none;
}

/* make voice call area have more padding */
.container_e131a9 {
  padding: var(--gap) !important;
}

/* search bar background */
.searchBar__97492 {
  background-color: var(--hover);
}


/* vencord call timer tweaks */
.lineClamp1__4bd52 {
  display: flex;
}

.lineClamp1__4bd52 p {
  font-family: unset !important;
}

.lineClamp1__4bd52 p::before {
  content: "•";
  padding: 0 calc(var(--gap) - 8px);
}

/* dm list search bar */
.searchBar__35e86 .button__201d5 {
  background-color: var(--hover) !important;
}


/* chatbar.css */
body {
  --chatbar-height: 47px;
  --chatbar-padding: 8px;

  --custom-channel-textarea-text-area-height: var(--chatbar-height);
}

@property --custom-chatbar {
  syntax: 'off | aligned';
  inherits: false;
  initial-value: aligned;
}

@container body style(--custom-chatbar: aligned) {

  /* chatbar tweaks */
  .cooldownWrapper_b21699 {
    padding-right: 0px !important;
  }

  .chatGradientBase__36d07 {
    display: none;
  }

  .textArea__74017,
  .buttons__74017 {
    margin-top: 1px;
  }

  .attachButton__0923f {
    margin: 0;
  }

  .attachWrapper__0923f {
    padding: var(--space-12) !important;
  }

  .inner__74017:has(.attachWrapper__0923f) {
    padding: 0;
  }

  .visual-refresh {
    .form_f75fb0 {
      margin: 0 var(--chatbar-padding) var(--chatbar-padding) var(--chatbar-padding);
      padding: 0 !important;
      --chatbar-border-color: var(--border-subtle);
    }

    .channelTextArea_f75fb0 {
      margin: 0;
      border-color: var(--chatbar-border-color);
      transition: none;
    }

    .base_b88801 {
      top: -24px;
      left: 0;
      right: 0;
      background-color: var(--hover);
      padding: 0 8px;
      border-radius: var(--radius-md) var(--radius-md) 0 0;
      border: 1px solid var(--chatbar-border-color);
      border-bottom: none;
      transition: none;
      box-sizing: border-box;
    }

    .stackedBars__74017,
    .threadSuggestionBar__841c8 {
      border-color: var(--chatbar-border-color) !important;
    }

    .stackedBars__74017 {
      background: none !important;
    }

    .form_f75fb0:has(.base_b88801) {

      .channelTextArea_f75fb0,
      .wrapper__44df5,
      .scrollableContainer__74017 {
        border-radius: 0 0 var(--radius-md) var(--radius-md);
      }

      .replyBar__841c8 {
        border-radius: 0;
      }

      margin-top: 24px;
    }

    .form_f75fb0:has(.bar__84522) {
      .replyBar__841c8 {
        border-radius: 0;
      }
    }

    .replyBar__841c8,
    .threadSuggestionBar__841c8,
    .bar__84522 {
      background-color: var(--hover);
    }

    .bar__84522 {
      border-radius: var(--radius-md) var(--radius-md) 0 0;
    }



    .clipContainer__841c8 {
      padding-top: 0px;
    }

    .scrollerSpacer__36d07 {
      height: calc(var(--chatbar-padding) + 2px) !important;
    }

    .scroller__36d07::-webkit-scrollbar-track {
      margin-bottom: calc(20px + var(--chatbar-padding));
    }

    .bottomBar__0f481 {
      margin-bottom: 24px;
    }

    /* phone verification bar and follow channel bar */
    .wrapper__44df5 {
      margin: 0;
      border-radius: var(--radius-md);
      background-color: var(--hover);
    }

    /* working on? */
    .banner__183e8 {
      background-color: var(--hover);
    }
  }
}

/* colors.css */
@property --colors {
  syntax: 'off | on';
  inherits: false;
  initial-value: on;
}

:root {
  /* text colors */
  --text-0: var(--bg-4);
  /* text on colored elements */
  --text-1: hsl(220, 45%, 95%);
  /* other normally white text */
  --text-2: hsl(220, 25%, 70%);
  /* headings and important text */
  --text-3: hsl(220, 20%, 60%);
  /* normal text */
  --text-4: hsl(220, 15%, 40%);
  /* icon buttons and channels */
  --text-5: hsl(220, 15%, 25%);
  /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: hsl(220, 15%, 20%);
  /* dark buttons when clicked */
  --bg-2: hsl(220, 15%, 16%);
  /* dark buttons */
  --bg-3: hsl(220, 15%, 13%);
  /* spacing, secondary elements */
  --bg-4: hsl(220, 15%, 10%);
  /* main background color */
  --hover: hsla(221, 19%, 40%, 0.1);
  /* channels and buttons when hovered */
  --active: hsla(220, 19%, 40%, 0.2);
  /* channels and buttons when clicked or selected */
  --active-2: hsla(220, 19%, 40%, 0.3);
  /* extra state for transparent buttons */
  --message-hover: hsla(230, 0%, 0%, 0.1);
  /* messages when hovered */

  /* accent colors */
  --accent-1: var(--blue-1);
  /* links and other accent text */
  --accent-2: var(--blue-2);
  /* small accent elements */
  --accent-3: var(--blue-3);
  /* accent buttons */
  --accent-4: var(--blue-4);
  /* accent buttons when hovered */
  --accent-5: var(--blue-5);
  /* accent buttons when clicked */
  --accent-new: var(--blue-2);
  /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 90%) 40%, transparent);
  /* background of messages that mention you */
  --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 95%) 40%, transparent);
  /* background of messages that mention you when hovered */
  --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
  /* background of messages that reply to you */
  --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);
  /* background of messages that reply to you when hovered */

  /* status indicator colors */
  --online: var(--green-2);
  /* change to #43a25a for default */
  --dnd: var(--red-2);
  /* change to #d83a42 for default */
  --idle: var(--yellow-2);
  /* change to #ca9654 for default */
  --streaming: var(--purple-2);
  /* change to ##9147ff for default */
  --offline: var(--text-4);
  /* change to #83838b for default offline color */

  /* border colors */
  --border-light: hsl(230, 20%, 40%, 0.1);
  /* light border color */
  --border: hsl(230, 20%, 40%, 0.2);
  /* normal border color */
  --button-border: hsl(0, 0%, 100%, 0.1);
  /* neutral border color of buttons */

  /* base colors */
  --red-1: oklch(76% 0.12 0);
  --red-2: oklch(70% 0.12 0);
  --red-3: oklch(64% 0.12 0);
  --red-4: oklch(58% 0.12 0);
  --red-5: oklch(52% 0.12 0);

  --green-1: oklch(76% 0.11 170);
  --green-2: oklch(70% 0.11 170);
  --green-3: oklch(64% 0.11 170);
  --green-4: oklch(58% 0.11 170);
  --green-5: oklch(52% 0.11 160);

  --blue-1: oklch(76% 0.1 215);
  --blue-2: oklch(70% 0.1 215);
  --blue-3: oklch(64% 0.1 215);
  --blue-4: oklch(58% 0.1 215);
  --blue-5: oklch(52% 0.1 215);

  --yellow-1: oklch(80% 0.11 90);
  --yellow-2: oklch(74% 0.11 90);
  --yellow-3: oklch(68% 0.11 90);
  --yellow-4: oklch(62% 0.11 90);
  --yellow-5: oklch(56% 0.11 90);

  --purple-1: oklch(76% 0.11 310);
  --purple-2: oklch(70% 0.11 310);
  --purple-3: oklch(64% 0.11 310);
  --purple-4: oklch(58% 0.11 310);
  --purple-5: oklch(52% 0.11 310);
}

@container root style(--colors: on) {

  .visual-refresh body,
  .visual-refresh .theme-dark:not(.custom-user-profile-theme),
  .visual-refresh .theme-light:not(.custom-user-profile-theme) {
    --activity-card-background: var(--bg-3);
    --alert-bg: red;
    --autocomplete-bg: var(--bg-3);

    --background-accent: var(--bg-2);
    --background-floating: var(--bg-3);
    --background-nested-floating: var(--bg-4);
    --background-mentioned: var(--mention);
    --background-mentioned-hover: var(--mention-hover);
    --background-message-automod: red;
    --background-message-automod-hover: red;
    --background-message-highlight: var(--reply);
    --background-message-highlight-hover: var(--reply-hover);
    --background-message-hover: var(--message-hover);

    --background-primary: var(--bg-4);
    --background-secondary: var(--bg-3);
    --background-secondary-alt: var(--bg-3);
    --background-tertiary: var(--bg-4);

    --bg-base-primary: var(--bg-4);
    /* screenshare window? */
    --bg-base-secondary: var(--bg-4);
    --bg-base-tertiary: var(--bg-3);
    --background-mod-subtle: var(--hover);
    --background-mod-normal: var(--active);
    --background-mod-strong: var(--active-2);
    --background-base-low: var(--bg-4);
    --background-base-lower: var(--bg-4);
    --background-base-lowest: var(--bg-4);
    --background-surface-high: var(--bg-3);
    --background-surface-higher: var(--bg-3);
    --background-surface-highest: var(--bg-3);
    --bg-surface-overlay: var(--bg-4);
    --bg-surface-raised: var(--bg-3);
    --chat-background-default: var(--bg-3);
    --chat-text-muted: var(--text-5);
    --input-background: var(--bg-3);
    --modal-background: var(--bg-4);
    --modal-footer-background: var(--bg-4);

    --background-modifier-accent: var(--hover);
    --background-modifier-active: var(--active);
    --background-modifier-hover: var(--hover);
    --background-modifier-selected: var(--active);

    --bg-mod-faint: var(--hover);
    --bg-mod-subtle: var(--bg-2);
    --bg-mod-strong: var(--bg-2);
    --bg-brand: var(--accent-2);

    --border-faint: var(--border-light);
    --border-subtle: var(--border);
    --border-normal: var(--border);
    --border-strong: var(--border);
    --input-border: var(--border);

    --button-danger-background: var(--red-3);
    --button-danger-background-active: var(--red-5);
    --button-danger-background-hover: var(--red-4);
    --button-danger-background-disabled: var(--red-5);
    --button-danger-border: var(--button-border);

    --button-filled-brand-text: var(--text-0);
    --button-filled-brand-background: var(--accent-3);
    --button-filled-brand-background-active: var(--accent-5);
    --button-filled-brand-background-hover: var(--accent-4);
    --button-filled-brand-border: var(--button-border);

    --button-filled-brand-inverted-background: var(--text-1);
    --button-filled-brand-inverted-background-active: var(--text-3);
    --button-filled-brand-inverted-background-hover: var(--text-2);
    --button-filled-brand-inverted-text: var(--bg-4);
    --button-filled-white-background: var(--text-1);
    --button-filled-white-background-active: var(--text-3);
    --button-filled-white-background-hover: var(--text-2);
    --button-filled-white-text: var(--bg-4);

    --button-outline-danger-background: var(--bg-2);
    --button-outline-danger-background-active: var(--text-5);
    --button-outline-danger-background-hover: var(--bg-1);
    --button-outline-danger-border: var(--border-light);
    --button-outline-danger-border-active: var(--border-light);
    --button-outline-danger-border-hover: var(--border-light);
    --button-outline-danger-text: var(--red-1);
    --button-outline-danger-text-active: var(--red-1);
    --button-outline-danger-text-hover: var(--red-1);

    --button-outline-primary-background: red;
    --button-outline-primary-background-active: var(--active);
    --button-outline-primary-background-hover: var(--hover);
    --button-outline-primary-border: var(--text-5);
    --button-outline-primary-border-active: var(--text-5);
    --button-outline-primary-border-hover: var(--text-5);
    --button-outline-primary-text: var(--text-3);
    --button-outline-primary-text-active: var(--text-3);
    --button-outline-primary-text-hover: var(--text-3);

    --button-outline-positive-background: red;
    --button-outline-positive-background-active: var(--green-4);
    --button-outline-positive-background-hover: var(--green-3);
    --button-outline-positive-border: var(--green-2);
    --button-outline-positive-border-active: var(--green-4);
    --button-outline-positive-border-hover: var(--green-3);
    --button-outline-positive-text: var(--text-3);
    --button-outline-positive-text-active: var(--text-0);
    --button-outline-positive-text-hover: var(--text-0);

    --button-positive-background: var(--green-2);
    --button-positive-background-active: var(--green-4);
    --button-positive-background-hover: var(--green-3);
    --button-positive-background-disabled: var(--green-4);
    --button-positive-border: var(--button-border);

    --button-secondary-background: var(--bg-2);
    --button-secondary-background-active: var(--text-5);
    --button-secondary-background-hover: var(--bg-1);
    --button-secondary-background-disabled: var(--bg-3);
    --button-secondary-text: var(--text-3);

    --button-transparent-background: var(--hover);
    --button-transparent-background-active: var(--active-2);
    --button-transparent-background-hover: var(--active);
    --button-transparent-text: var(--text-3);

    --redesign-button-secondary-text: var(--text-3);

    --polls-voted-fill: color-mix(in hsl, var(--accent-2), transparent 90%);
    --polls-victor-fill: color-mix(in hsl, var(--green-2), transparent 90%);

    --card-primary-bg: var(--bg-3);
    --card-secondary-bg: var(--bg-2);
    --channel-icon: var(--text-4);
    --channels-default: var(--text-4);

    --embed-title: var(--text-2);

    --header-primary: var(--text-2);
    --header-secondary: var(--text-4);
    --header-muted: var(--text-4);

    --icon-muted: var(--text-5);
    --icon-primary: var(--text-3);
    --icon-secondary: var(--text-4);
    --icon-tertiary: var(--text-4);

    --info-danger-background: red;
    --info-danger-text: red;
    --info-help-background: color-mix(in hsl, var(--blue-2), transparent 80%);
    --info-help-foreground: var(--blue-1);
    --info-help-text: var(--blue-1);
    --info-positive-background: color-mix(in hsl, var(--yellow-1), transparent 80%);
    --info-positive-text: var(--green-1);
    --info-warning-background: color-mix(in hsl, var(--yellow-2), transparent 80%);
    --info-warning-text: var(--yellow-1);

    --text-brand: var(--accent-1);
    --text-danger: var(--red-1);
    --text-link: var(--accent-1);
    --text-link-low-saturation: red;
    --text-low-contrast: var(--text-4);
    --text-message-preview-low-sat: red;
    --text-muted: var(--text-5);
    --text-muted-on-default: var(--text-4);
    --text-normal: var(--text-3);
    --text-positive: var(--green-1);
    --text-primary: var(--text-3);
    --text-secondary: var(--text-4);
    --text-warning: var(--yellow-1);
    --text-default: var(--text-3);
    --text-feedback-critical: var(--red-1);
    --text-feedback-positive: var(--green-1);
    --text-feedback-info: red;
    --text-feedback-warning: var(--yellow-1);
    --text-tertiary: var(--text-4);

    --user-profile-overlay-background: var(--bg-4);
    --user-profile-overlay-background-hover: var(--bg-2);

    --status-danger: var(--red-2);
    --status-danger-background: var(--red-3);
    --status-danger-text: var(--white);
    --status-dnd: var(--dnd);
    /* server profiles */
    --status-idle: var(--idle);
    --status-offline: var(--offline);
    --status-online: var(--online);
    --status-positive: var(--green-2);
    --status-positive-background: var(--green-2);
    --status-positive-text: var(--white);
    --status-speaking: var(--green-2);
    --status-warning: var(--yellow-2);
    --status-warning-background: red;
    --status-warning-text: var(--black);

    --background-feedback-critical: color-mix(in hsl, var(--red-2), transparent 80%);
    --background-feedback-info: color-mix(in hsl, var(--blue-2), transparent 80%);
    --background-feedback-positive: color-mix(in hsl, var(--green-2), transparent 80%);
    --background-feedback-warning: color-mix(in hsl, var(--yellow-2), transparent 80%);

    --interactive-normal: var(--text-4);
    --interactive-hover: var(--text-3);
    --interactive-active: var(--text-3);
    --interactive-muted: var(--text-5);

    --mention-foreground: var(--accent-1);
    --mention-background: color-mix(in hsl, var(--accent-2), transparent 90%);

    --channel-text-area-placeholder: var(--text-5);

    --message-reacted-text: var(--text-2);
    --message-reacted-background: color-mix(in hsl, var(--accent-2), transparent 80%);

    --custom-channel-members-bg: var(--bg-4);

    --redesign-input-control-selected: var(--accent-2);

    --scrollbar-auto-thumb: var(--bg-3);
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: var(--bg-3);
    --scrollbar-thin-track: transparent;

    --white: var(--text-0);
    --white-500: var(--text-0);
    --redesign-button-overlay-alpha-text: var(--text-2);

    --brand-360: var(--accent-2);
    --brand-500: var(--accent-2);
    --blurple-50: var(--accent-2);

    --red-400: var(--red-2);
    --red-500: var(--red-3);

    --green-360: var(--green-2);
    /* seems to be mostly used by vencord plugins */
    --primary-400: var(--text-4);

    --deprecated-text-input-bg: var(--bg-3);
    --deprecated-text-input-border: var(--border-light);

    --background-code: var(--bg-3);

    /* --control-background-active-active: var(--green-new-62);
        --control-background-active-default: var(--green-new-50);
        --control-background-active-hover: var(--green-new-55);
        --control-background-active-loading: var(--green-new-50); */
    --control-background-critical-primary-active: var(--red-5);
    --control-background-critical-primary-default: var(--red-3);
    --control-background-critical-primary-hover: var(--red-4);
    --control-background-critical-primary-loading: var(--red-3);
    --control-background-critical-secondary-active: var(--text-5);
    --control-background-critical-secondary-default: var(--bg-2);
    --control-background-critical-secondary-hover: var(--bg-1);
    --control-background-critical-secondary-loading: var(--bg-2);
    /* --control-background-expressive-active: var(--neutral-10);
        --control-background-expressive-default: var(--neutral-1);
        --control-background-expressive-hover: var(--neutral-1);
        --control-background-expressive-loading: var(--neutral-1);
        --control-background-icon-only-active: hsl(var(--opacity-20-hsl) / 0.2);
        --control-background-icon-only-hover: hsl(var(--opacity-16-hsl) / 0.1607843137254902);
        --control-background-overlay-primary-active: var(--neutral-17);
        --control-background-overlay-primary-default: var(--neutral-1);
        --control-background-overlay-primary-hover: var(--neutral-9);
        --control-background-overlay-primary-loading: var(--neutral-1);
        --control-background-overlay-secondary-active: hsl(var(--opacity-black-48-hsl) / 0.47843137254901963);
        --control-background-overlay-secondary-default: hsl(var(--opacity-black-52-hsl) / 0.5215686274509804);
        --control-background-overlay-secondary-hover: hsl(var(--opacity-black-64-hsl) / 0.6392156862745098);
        --control-background-overlay-secondary-loading: hsl(var(--opacity-black-52-hsl) / 0.5215686274509804); */
    --control-background-primary-active: var(--accent-5);
    --control-background-primary-default: var(--accent-3);
    --control-background-primary-hover: var(--accent-4);
    --control-background-primary-loading: var(--accent-3);
    --control-background-secondary-active: var(--text-5);
    --control-background-secondary-default: var(--bg-2);
    --control-background-secondary-hover: var(--bg-1);
    --control-background-secondary-loading: var(--bg-2);
    /* --control-border-active-active: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
        --control-border-active-default: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
        --control-border-active-hover: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
        --control-border-active-loading: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196); */
    --control-border-critical-primary-active: var(--button-border);
    --control-border-critical-primary-default: var(--button-border);
    --control-border-critical-primary-hover: var(--button-border);
    --control-border-critical-primary-loading: var(--button-border);
    --control-border-critical-secondary-active: var(--border-light);
    --control-border-critical-secondary-default: var(--border-light);
    --control-border-critical-secondary-hover: var(--border-light);
    --control-border-critical-secondary-loading: var(--border-light);
    /* --control-border-expressive-active: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
        --control-border-expressive-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
        --control-border-expressive-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
        --control-border-expressive-loading: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
        --control-border-icon-only-active: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
        --control-border-icon-only-hover: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
        --control-border-overlay-primary-active: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
        --control-border-overlay-primary-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
        --control-border-overlay-primary-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
        --control-border-overlay-primary-loading: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
        --control-border-overlay-secondary-active: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
        --control-border-overlay-secondary-default: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
        --control-border-overlay-secondary-hover: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
        --control-border-overlay-secondary-loading: hsl(var(--opacity-4-hsl) / 0.0392156862745098); */
    --control-border-primary-active: var(--button-border);
    --control-border-primary-default: var(--button-border);
    --control-border-primary-hover: var(--button-border);
    --control-border-primary-loading: var(--button-border);
    --control-border-secondary-active: var(--border-light);
    --control-border-secondary-default: var(--border-light);
    --control-border-secondary-hover: var(--border-light);
    --control-border-secondary-loading: var(--border-light);
    /*--control-brand-foreground: var(--brand-360);
        --control-brand-foreground-new: var(--brand-360);
         --control-icon-active-active: var(--white);
        --control-icon-active-default: var(--white);
        --control-icon-active-hover: var(--white);
        --control-icon-active-loading: var(--white);
        --control-icon-critical-primary-active: var(--white);
        --control-icon-critical-primary-default: var(--white);
        --control-icon-critical-primary-hover: var(--white);
        --control-icon-critical-primary-loading: var(--white);
        --control-icon-critical-secondary-active: var(--red-new-22);
        --control-icon-critical-secondary-default: var(--red-new-22);
        --control-icon-critical-secondary-hover: var(--red-new-22);
        --control-icon-critical-secondary-loading: var(--red-new-22);
        --control-icon-expressive-active: var(--black);
        --control-icon-expressive-default: var(--black);
        --control-icon-expressive-hover: var(--black);
        --control-icon-expressive-loading: var(--black);
        --control-icon-icon-only-active: var(--neutral-1);
        --control-icon-icon-only-default: var(--neutral-16);
        --control-icon-icon-only-hover: var(--neutral-1);
        --control-icon-icon-only-loading: var(--neutral-1);
        --control-icon-overlay-primary-active: var(--black);
        --control-icon-overlay-primary-default: var(--black);
        --control-icon-overlay-primary-hover: var(--black);
        --control-icon-overlay-primary-loading: var(--black);
        --control-icon-overlay-secondary-active: var(--white);
        --control-icon-overlay-secondary-default: var(--white);
        --control-icon-overlay-secondary-hover: var(--white);
        --control-icon-overlay-secondary-loading: var(--white);
        --control-icon-primary-active: var(--white);
        --control-icon-primary-default: var(--white);
        --control-icon-primary-hover: var(--white);
        --control-icon-primary-loading: var(--white);
        --control-icon-secondary-active: var(--neutral-1);
        --control-icon-secondary-default: var(--neutral-1);
        --control-icon-secondary-hover: var(--neutral-1);
        --control-icon-secondary-loading: var(--neutral-1);
        --control-text-active-active: var(--white);
        --control-text-active-default: var(--white);
        --control-text-active-hover: var(--white);
        --control-text-active-loading: var(--white);*/
    --control-text-critical-primary-active: var(--text-0);
    --control-text-critical-primary-default: var(--text-0);
    --control-text-critical-primary-hover: var(--text-0);
    --control-text-critical-primary-loading: var(--text-0);
    --control-text-critical-secondary-active: var(--red-2);
    --control-text-critical-secondary-default: var(--red-2);
    --control-text-critical-secondary-hover: var(--red-2);
    --control-text-critical-secondary-loading: var(--red-2);
    /* --control-text-expressive-active: var(--black);
        --control-text-expressive-default: var(--black);
        --control-text-expressive-hover: var(--black);
        --control-text-expressive-loading: var(--black);
        --control-text-overlay-primary-active: var(--black);
        --control-text-overlay-primary-default: var(--black);
        --control-text-overlay-primary-hover: var(--black);
        --control-text-overlay-primary-loading: var(--black);
        --control-text-overlay-secondary-active: var(--white);
        --control-text-overlay-secondary-default: var(--white);
        --control-text-overlay-secondary-hover: var(--white);
        --control-text-overlay-secondary-loading: var(--white); */
    --control-text-primary-active: var(--text-0);
    --control-text-primary-default: var(--text-0);
    --control-text-primary-hover: var(--text-0);
    --control-text-primary-loading: var(--text-0);
    --control-text-secondary-active: var(--text-3);
    --control-text-secondary-default: var(--text-3);
    --control-text-secondary-hover: var(--text-3);
    --control-text-secondary-loading: var(--text-3);
  }

  .visual-refresh {
    ::placeholder {
      color: var(--text-5);
    }

    /* main background */
    .bg__960e4 {
      background: var(--bg-3);
    }

    /* correct channel icon color */
    .modeUnreadImportant__2ea32 .icon__2ea32,
    .wrapper__2ea32:hover .icon__2ea32 {
      color: var(--text-3);
    }

    /* xxx is typing.. */
    .text_b88801>strong {
      color: var(--text-3);
    }

    /* collapsed folders */
    .folder__48112[aria-expanded="false"]>.folderIconWrapper__48112 {
      --background-primary: var(--bg-3);
    }

    /* game activity panel */
    .panel__5dec7,

    /* background between vc and vc chat */
    .container__722ff {
      background: none;
    }


    /* settings tab */
    .side_b3f026 .item_b3f026:hover {
      background-color: var(--bg-3) !important;
    }

    .side_b3f026 .item_b3f026:active,
    .side_b3f026 .item_b3f026.selected_b3f026 {
      background-color: var(--bg-2) !important;
    }

    /* dm vc region select popout */
    .quickSelectPopout_ebaca5,

    /* vc participants button */
    .participantsButton__211d1,

    /* n in voice bar (channel list) */
    .voiceBar__7aaec,

    /* form posts */
    .mainCard_f369db,

    /* account settings profile background */
    .accountProfileCard__1fed1 {
      background-color: var(--bg-3);
    }

    /* forum post reaction */
    .colorable_f1ceac.primaryDark_f1ceac,
    .reaction_f8896c {
      background-color: var(--bg-2);
    }

    /* folder icon */
    .expandedFolderIconWrapper__48112>svg[style="color: rgb(88, 101, 242);"] {
      color: var(--accent-2) !important;
    }

    /* folder color picker swatch */
    .colorPickerSwatch__459fb[style="background-color: rgb(88, 101, 242);"],

    /* forum post new badge */
    .newBadge_faa96b,

    /* mention message left edge */
    .mentioned__5126c:before {
      background-color: var(--accent-2) !important;
    }

    /* reply message left edge */
    .replying__5126c:before {
      background-color: var(--text-2) !important;
    }


    /* shop "orbs exclusive" badge */
    .badge_c3d04b {
      background-color: var(--text-1);
    }

    /* override fix for message reply hover */
    #app-mount .message__5126c.replying__5126c:hover {
      background: var(--reply-hover);
    }

    /* x in voice bar text */
    .visual-refresh .voiceBar__7aaec .barText__7aaec,
    .visual-refresh .voiceChannelsIcon__7aaec {
      color: var(--accent-2);
    }

    /* ephemeral messages */
    .ephemeral__5126c {
      background: var(--mention) !important;
    }

    .ephemeral__5126c:hover {
      background: var(--mention-hover) !important;
    }

    /* bot tag */
    .botTagRegular__82f07 {
      background-color: var(--accent-2);
    }

    /* forum post op tag */
    .botTagOP__82f07 {
      color: var(--text-0);
    }

    /* settings checkbutton background */
    .container__87bf1 {
      background-color: var(--bg-1) !important;
      transition: background-color 0.2s ease;
    }

    /* settings checkbutton background */
    .container__87bf1.checked__87bf1 {
      background-color: var(--accent-2) !important;
    }

    /* settings checkbutton check */
    .container__87bf1 .slider__87bf1>svg>path {
      fill: var(--bg-1) !important;
      transition: fill 0.2s ease;
    }

    /* settings checkbutton check */
    .container__87bf1.checked__87bf1 .slider__87bf1>svg>path {
      fill: var(--accent-2) !important;
    }

    /* settings checkbutton slider */
    .container__87bf1 rect[fill='white'] {
      fill: var(--text-3) !important;
      transition: fill 0.2s ease;
    }

    /* settings checkbutton slider */
    .container__87bf1.checked__87bf1 rect[fill='white'] {
      fill: var(--text-0) !important;
    }

    /* settings radiobutton center */
    .refreshIcon__001a7 {
      fill: var(--text-0);
    }

    /* gif chooser category names */
    .categoryText_d02962,

    /* profile banner button */
    .bannerColor_fb7f94,

    /* stream preview back button */
    .backButton_e4cb9a,

    /* stream preview viewers icon */
    .viewersIcon_d6b206,

    /* stream preview viewer number */
    .bottomControls_e4cb9a,

    /* stream preview control icon */
    .pictureInPictureVideo_e4cb9a .controlIcon_f1ceac,

    /* server name over banner image */
    .bannerVisible_f37cb1 .name_f37cb1,

    /* server name over banner dropdown button */
    .dropdownButtonBannerVisible__2637a,

    /* image alt text label */
    .mediaMosaicAltText__0f481 {
      color: var(--text-1);
    }

    /* stream preview header text */
    .headerText_e4cb9a.base_eb1a4c,

    /* stream preview participant name */
    .participantName__2cdb8 {
      color: var(--text-1) !important;
    }

    /* video play/pause popup */
    .playPausePopIcon_cf09d8>path {
      fill: var(--text-1);
    }

    /* stream preview header title hover underline */
    .headerTitle_e4cb9a:hover {
      border-color: var(--text-1) !important;
    }

    /* video play button */
    .controlIcon_cf09d8,

    /* video time */
    .wrapper_cf09d8,

    /* video initial play button */
    .iconWrapper__6eb54,

    /* youtube embed play button */
    .wrapper__926d7,

    /* stream preview viewers icon */
    .viewersIcon_d6b206:hover,

    /* stream preview back button hover */
    .headerTitle_e4cb9a:hover .backButton_e4cb9a,

    /* stream preview viewers icon */
    .viewersIcon_d6b206:hover,

    /* stream preview control icon */
    .pictureInPictureVideo_e4cb9a .controlIcon_f1ceac:hover {
      color: var(--text-2);
    }

    /* stream preview back button hover */
    .wrapper__926d7 a:link,
    .wrapper__926d7 a:visited,
    .headerTitle_e4cb9a:hover .headerText_e4cb9a.base_eb1a4c {
      color: var(--text-2) !important;
    }

    /* video download button */
    .downloadHoverButtonIcon__6c706,

    /* vc participants button icon */
    .iconContainer__211d1>svg,

    /* vc selected camera icon */
    .selectedIcon__2f4f7,

    /* vc icon button */
    .colorable_f1ceac.primaryDark_f1ceac .centerIcon_f1ceac,

    /* vc icon button nub */
    .colorable_f1ceac.primaryDark_f1ceac,

    /* server vc badge */
    .iconBadge__650eb.base__2b1f5,

    /* aka badge */
    #app-mount .akaBadge__488b1,

    /* you have unsaved settings message */
    .message_fcf29c,

    /* inbox friend request number */
    .friendRequestsButton__523aa .base__2b1f5,

    /* server boost tooltip */
    .textBadge__2b1f5[style='background-color: var(--background-accent);'],
    .tooltipBlack__382e7,

    /* vc buttons */
    .colorable_f1ceac.experimentDark_f1ceac,
    .colorable_f1ceac.experimentDark_f1ceac .centerIcon_f1ceac {
      color: var(--text-3);
    }

    /* channel start icon */
    .status__2f4f7 path[fill='var(--white)'],
    .emptyChannelIcon__00de6 path[fill='var(--white)'] {
      fill: var(--text-3);
    }

    /* vc volume slider grabber */
    .grabber_a562c8 {
      background-color: var(--text-3);
    }

    /* new text badge (right click on person in vc) */
    .textBadge__2b1f5 {
      color: var(--text-0);
    }

    /* new unreads bar (channel list */
    .unread__3b95d {
      color: var(--text-4);
    }

    /* vc icon button nub when white */
    .colorable_f1ceac.white_f1ceac {
      background-color: var(--primary-130);
      color: var(--bg-4);
    }

    /* green vc badge when connected */
    .iconBadge__650eb.isCurrentUserConnected__650eb {
      color: var(--text-0);
    }

    /* outline buttons */
    .lookOutlined__201d5.colorWhite__201d5 {
      border-color: var(--text-5);
      color: var(--text-3);
    }

    /* user panel buttons */
    .container__37e49,

    /* unread number badge */
    .numberBadge__2b1f5,

    /* toolbar button strikethroughs */
    .toolbar__9293f {
      --status-danger: var(--accent-new);
    }

    /* user panel button backgrounds*/
    .container__37e49 .button__67645.redGlow__67645 {
      background-color: color-mix(in hsl, var(--accent-new), transparent 90%);
    }

    /* user panel button backgrounds hover */
    .container__37e49 .button__67645.enabled__67645.redGlow__67645:hover {
      background-color: color-mix(in hsl, var(--accent-new), transparent 80%);
    }

    /* unread divider */
    .divider__5126c {
      --divider-color: var(--accent-new);
    }

    /* icon badge */
    .iconBadge__9293f,

    /* new mention pill */
    .mentionsBar__7aaec,

    /* server list new mention pill */
    .mention__3b95d {
      background-color: var(--accent-new);
    }

    /* unread bar */
    .newMessagesBar__0f481 {
      background-color: var(--accent-3);
    }

    /* unread bar mark as read button */
    .barButtonAlt__0f481 {
      --button-secondary-background: var(--accent-3);
      --button-secondary-background-hover: var(--accent-4);
    }

    /* update button */
    .updateIconForeground__49676 {
      fill: var(--green-1);
    }

    /* vc disconnect button hover */
    .colorable_f1ceac.red_f1ceac:hover {
      background-color: var(--red-4);
    }

    /* image attachment delete button hover in chat bar */
    .button_f7ecac.dangerous_f7ecac:hover {
      color: var(--red-4);
    }

    /* gif picker scrollbar */
    .contentWrapper__08434 ::-webkit-scrollbar-thumb {
      background-color: var(--bg-1);
    }

    /* new server button */
    .circleIconButton__5bc7e {
      color: var(--text-3);
    }

    .circleIconButton__5bc7e:hover {
      color: var(--bg-4);
    }


    /* forum post image fade */
    .textContentFooter__9a337 {
      background: linear-gradient(0deg, var(--bg-4), transparent);
    }

    /* remove gif hover overlay */
    .result__2dc39:after {
      display: none;
    }

    /* gif hover */
    .result__2dc39:hover {
      outline: 2px solid var(--accent-2);
    }

    /* fix add reaction button border hover */
    .reactionBtn__23977.forceShow__23977:hover {
      border-color: var(--bg-2);
    }

    /* reply message flash */
    .flash__03436[data-flash=true] {
      background: var(--background-message-highlight);
    }

    /* status indicators */
    rect[fill='#82838b'] {
      fill: var(--offline);
    }

    .status_a423bd[style='background-color: rgb(130, 131, 139);'] {
      background-color: var(--offline) !important;
    }

    /* status activity icon */
    rect[fill='#43a25a'],
    path[fill='#43a25a'],

    /* status activity icon */
    path[fill='var(--status-positive)'],
    .vc-platform-indicator>svg[fill="#43a25a"] {
      fill: var(--online);
    }

    .status_a423bd[style='background-color: rgb(67, 162, 90);'] {
      background-color: var(--online) !important;
    }

    rect[fill='#ca9654'],
    .vc-platform-indicator>svg[fill='#ca9654'] {
      fill: var(--idle);
    }

    .status_a423bd[style='background-color: rgb(202, 150, 84);'] {
      background-color: var(--idle) !important;
    }

    rect[fill='#d83a42'],
    .vc-platform-indicator>svg[fill='#d83a42'] {
      fill: var(--dnd);
    }

    .status_a423bd[style='background-color: rgb(216, 58, 66);'] {
      background-color: var(--dnd) !important;
    }

    rect[fill='#9147ff'] {
      fill: var(--streaming);
    }

    div[style='display: flex; justify-content: center; align-items: center; border-radius: 5px; background-color: rgb(67, 162, 90); height: 10px; width: 25px;'] {
      background-color: var(--online) !important;
    }

    /* fix radio bar button colors */
    .radioBar__001a7[style='--radio-bar-accent-color: var(--yellow-360); padding: 10px;'] {
      --radio-bar-accent-color: var(--yellow-2) !important;
    }

    .radioBar__001a7[style='--radio-bar-accent-color: var(--green-360); padding: 10px;'] {
      --radio-bar-accent-color: var(--green-2) !important;
    }

    .radioBar__001a7[style='--radio-bar-accent-color: var(--red-400); padding: 10px;'] {
      --radio-bar-accent-color: var(--red-2) !important;
    }

    #vc-spotify-player {
      --vc-spotify-green: var(--accent-2);
    }

    .barFill_a562c8 {
      background-color: var(--accent-2) !important;
    }

    .vcd-screen-picker-option-radio[data-checked='true'] .defaultColor__4bd52 {
      color: var(--text-0);
    }

    .memberRowContainer__71c22.memberSelected__71c22 td {
      background: var(--bg-3);
    }
  }

  ::selection,
  .highlight {
    background: var(--accent-3);
    color: var(--text-0);
  }
}

/* dms-button.css */
body {
  --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg');
  /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 90%;
  /* size of the svg (css mask-size property) */
  --dms-icon-color-before: var(--icon-secondary);
  /* normal icon color */
  --dms-icon-color-after: var(--white);
  /* icon color when button is hovered/selected */
  --dms-background-image-url: url('');
  /* url of the background image */
  --dms-background-image-size: cover;
  /* size of the background image (css background-size property) */
  --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));
  /* fixed color/gradient (css background property) */
}

@property --custom-dms-icon {
  syntax: 'off | hide | custom';
  inherits: false;
  initial-value: custom;
}

@container body style(--custom-dms-icon: off) {
  .wrapper__6e9f8[data-list-item-id='guildsnav___home']>.childWrapper__6e9f8 {
    color: var(--dms-icon-color-before);
  }

  .wrapper__6e9f8[data-list-item-id='guildsnav___home']:hover>.childWrapper__6e9f8,
  .wrapper__6e9f8[data-list-item-id='guildsnav___home'].selected__6e9f8>.childWrapper__6e9f8 {
    color: var(--dms-icon-color-after);
  }
}

/* top-bar.css */
body {
  --top-bar-height: 32px;
  --custom-app-top-bar-height: var(--top-bar-height);
}

@property --top-bar-button-position {
  syntax: 'off | hide | serverlist | titlebar';
  inherits: false;
  initial-value: titlebar;
}

@container body style(--top-bar-button-position: titlebar) {
  #app-mount {
    --custom-channel-header-height: calc(var(--guildbar-avatar-size) + var(--space-xs) + var(--border-thickness) * 2);
    --top-bar-right-margin: calc(32px + var(--space-xs));
  }

  .visual-refresh {

    .title_c38106,
    .trailing_c38106>a[href="https://support.discord.com"] {
      display: none;
    }

    .trailing_c38106 {
      position: absolute;
      top: calc(var(--top-bar-height) + 8px + var(--border-thickness));
      right: calc(var(--gap) + var(--border-thickness));
      gap: var(--space-xs);
      z-index: 1000;
      padding-right: var(--space-xs);
    }

    .systemBar_c38106 .trailing_c38106 {
      top: var(--space-xs);
    }

    .winButtons_c38106 {
      padding: 0;
    }

    .winButton_c38106 {
      height: calc(var(--window-control-size) * 2);
    }

    .winButtons_c38106::before {
      height: 16px;
      width: var(--space-xs);
      box-sizing: border-box;
      margin: 0;
    }

    .toolbar__9293f {
      padding-right: var(--top-bar-right-margin);
    }

    .headerBar__8a7fc {
      padding-right: calc(var(--top-bar-right-margin) + var(--space-sm));
    }

    .searchFloating__1ac1c {
      right: calc(var(--top-bar-right-margin) + var(--space-sm));
    }

    .balanceWidgetMenu__80679 {
      margin-right: var(--top-bar-right-margin);
    }

    .inviteToolbar__133bf {
      padding-right: 0;
    }

    .chat_f75fb0>.layerContainer_da8173 {
      z-index: 999;
    }

    .subtitleContainer_f75fb0 {
      height: var(--custom-channel-header-height);
    }

    .title_f75fb0.container__9293f {
      height: auto;
      min-height: 0;
    }
  }

  .base_c48ade:has(.notice__6e2b9)>.bar_c38106>.trailing_c38106 {
    top: calc(var(--top-bar-height) + 8px + 40px + var(--gap) + var(--border-thickness));
  }

  .base_c48ade:has(.winButtons_c38106) {
    --top-bar-right-margin: calc(32px + 3 * var(--space-xs) + 6 * var(--window-control-size));
  }

  .base_c48ade:has(.trailing_c38106 > .button__85643) {
    --top-bar-right-margin: calc(32px * 2 + 2 * var(--space-xs));
  }

  .base_c48ade:has(.winButtons_c38106):has(.trailing_c38106 > .button__85643) {
    --top-bar-right-margin: calc(32px * 2 + 4 * var(--space-xs) + 6 * var(--window-control-size));
  }
}

/* transparency-blur.css */
@property --panel-blur {
  syntax: 'off | on';
  inherits: false;
  initial-value: off;
}

@container body style(--panel-blur: on) {
  .visual-refresh {
    #app-mount {
      --panel-backdrop-filter: blur(var(--blur-amount));
    }

    /* message hover quick action bar */
    .popoverReactionHoverBar_f84418,

    /* tooltips */
    .tooltip__382e7 {
      background: var(--bg-floating);
    }

    /* context menus */
    .menu_c1e9c4,

    /* emoji/gif panel */
    .contentWrapper__08434,

    /* modals like invite */
    .root__49fc1,

    /* small profile popup */
    .outer_c0bea0.biteSize_c0bea0:not(.custom-theme-background),

    /* autocomplete */
    .autocomplete__6b0e0,

    /* search suggestions */
    .container__55c99,

    /* inbox */
    .messagesPopoutWrap__45690,

    /* channel hover popout */
    .popout__76f04,

    /* channel list new unreads bar */
    .bar__7aaec {
      background: var(--bg-floating);
    }
  }
}

@property --transparency-tweaks {
  syntax: 'off | on';
  inherits: false;
  initial-value: off;
}

@container body style(--transparency-tweaks: on) {
  .visual-refresh {

    .formWithLoadedChatInput_f75fb0:before,
    .children__9293f:after {
      display: none;
    }

    .channelTextArea_f75fb0 {
      background-color: transparent;
    }

    .inner_c0bea0 {
      background-color: transparent !important
    }
  }
}
