/* chatbar.css */
body { 
  --chatbar-height: 47px;
  --chatbar-padding: 8px;

  --custom-channel-textarea-text-area-height: var(--chatbar-height);
}

@property --custom-chatbar {
  syntax: 'off | aligned';
  inherits: false;
  initial-value: aligned;
}

@container body style(--custom-chatbar: aligned) {

  /* chatbar tweaks */
  .cooldownWrapper_b21699 {
    padding-right: 0px !important;
  }

  .chatGradientBase__36d07 {
    display: none;
  }

  .textArea__74017,
  .buttons__74017 {
    margin-top: 1px;
  }

  .attachButton__0923f {
    margin: 0;
  }

  .attachWrapper__0923f {
    padding: var(--space-12) !important;
  }

  .inner__74017:has(.attachWrapper__0923f) {
    padding: 0;
  }

  .visual-refresh {
    .form_f75fb0 {
      margin: 0 var(--chatbar-padding) var(--chatbar-padding) var(--chatbar-padding);
      padding: 0 !important;
      --chatbar-border-color: var(--border-subtle);
    }

    .channelTextArea_f75fb0 {
      margin: 0;
      border-color: var(--chatbar-border-color);
      transition: none;
    }

    .base_b88801 {
      top: -24px;
      left: 0;
      right: 0;
      background-color: var(--hover);
      padding: 0 8px;
      border-radius: var(--radius-md) var(--radius-md) 0 0;
      border: 1px solid var(--chatbar-border-color);
      border-bottom: none;
      transition: none;
      box-sizing: border-box;
    }

    .stackedBars__74017,
    .threadSuggestionBar__841c8 {
      border-color: var(--chatbar-border-color) !important;
    }

    .stackedBars__74017 {
      background: none !important;
    }

    .form_f75fb0:has(.base_b88801) {

      .channelTextArea_f75fb0,
      .wrapper__44df5,
      .scrollableContainer__74017 {
        border-radius: 0 0 var(--radius-md) var(--radius-md);
      }

      .replyBar__841c8 {
        border-radius: 0;
      }

      margin-top: 24px;
    }

    .form_f75fb0:has(.bar__84522) {
      .replyBar__841c8 {
        border-radius: 0;
      }
    }

    .replyBar__841c8,
    .threadSuggestionBar__841c8,
    .bar__84522 {
      background-color: var(--hover);
    }

    .bar__84522 {
      border-radius: var(--radius-md) var(--radius-md) 0 0;
    }



    .clipContainer__841c8 {
      padding-top: 0px;
    }

    .scrollerSpacer__36d07 {
      height: calc(var(--chatbar-padding) + 2px) !important;
    }

    .scroller__36d07::-webkit-scrollbar-track {
      margin-bottom: calc(20px + var(--chatbar-padding));
    }

    .bottomBar__0f481 {
      margin-bottom: 24px;
    }

    /* phone verification bar and follow channel bar */
    .wrapper__44df5 {
      margin: 0;
      border-radius: var(--radius-md);
      background-color: var(--hover);
    }

    /* working on? */
    .banner__183e8 {
      background-color: var(--hover);
    }
  }
}